@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
}

body {
  font-family: "roboto", sans-serif;
  color: #fff;
  background-color: #141414;
  width: 100%;
  height: 100vh;
  position: relative;
}

*::-webkit-scrollbar {
  width: 3px;
  border-radius: .1rem;
  height: 3px;
  scroll-behavior: smooth !important;
}

*::-webkit-scrollbar-track {
  background-color: #000;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #313531;
  border-radius: 10px;
}

.home-section {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 2rem;
}

.home-section .carousel {
  width: 100%;
  height: 18rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 15px 40px var(rgba(0, 0, 0, 0.5));
}

.home-section .carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: 1s;
  border-radius: .5rem;
}

.home-section .carousel .active {
  opacity: 1;
}

.home-section .title {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.home-section .playlist-wrapper {
  width: 100%;
  height: 13rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 15px 40px var(rgba(0, 0, 0, 0.5));
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.home-section .playlist-wrapper .playlist-card {
  flex: 0 0 auto;
  max-width: 10rem;
  height: 90%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.home-section .playlist-wrapper .playlist-card .playlist-song-img {
  object-fit: cover;
  height: 100%;
  border-radius: .5rem;
  margin: .5rem;
}

.home-section .playlist-wrapper .playlist-card .playlist-song-name {
  text-align: center;
  font-size: 0.7rem;
  color: #fff;
}

.music-player-section {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  backdrop-filter: blur(50px);
  transition: all ease 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.music-player-section .seek-bar-container {
  border-radius: 5px;
  position: relative;
  width: 90%;
  margin: 5rem;
}

.music-player-section .seek-bar-container .music-seek-bar {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5rem;
  background-color: #000;
  overflow: hidden;
  border-radius: .2rem;
}

.music-player-section .seek-bar-container .music-seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0.5rem;
  width: 2rem;
  background-color: #63ff69;
  cursor: pointer;
  border-radius: .2rem;
}

.music-player-section .seek-bar-container .completionBar {
  position: absolute;
  height: 0.5rem;
  width: 0rem;
  background-color: #63ff69;
  top: 0.45rem;
  z-index: 0;
  opacity: 1;
  border-radius: .2rem;
}

.music-player-section .seek-bar-container .current-time {
  left: 0;
  position: absolute;
}

.music-player-section .seek-bar-container .duration {
  right: 0;
  position: absolute;
}

.music-player-section .controls {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
}

.music-player-section .controls i, .music-player-section .controls span {
  font-size: 130%;
}

.music-player-section .controls span {
  display: none;
  opacity: 0;
  transition: all ease 1s;
}

.music-player-section .controls .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.music-player-section .controls .main > * {
  margin: .1rem 1rem;
  display: none;
}

.music-player-section .controls .main > *.active {
  display: inline;
}

.music-player-section .controls .volume-items-wrapper {
  position: relative;
}

.music-player-section .controls .volume-items-wrapper .volume-controller-container {
  border-radius: 5px;
  position: absolute;
  margin: 0 auto;
  bottom: 250%;
  left: -1.9rem;
  display: none;
  opacity: 0;
  transition: all ease 1s;
  transform: rotate(270deg);
  overflow: hidden;
}

.music-player-section .controls .volume-items-wrapper .volume-controller-container .volume-controller {
  -webkit-appearance: none;
  width: 100%;
  height: 1.3rem;
  width: 5rem;
  background-color: #000;
  overflow: hidden;
  border-radius: 2rem;
}

.music-player-section .controls .volume-items-wrapper .volume-controller-container .volume-controller::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.3rem;
  width: 1rem;
  background-color: #63ff69;
  cursor: pointer;
  border-radius: 0rem 2rem 2rem 0;
}

.music-player-section .controls .volume-items-wrapper .volume-controller-container .completionBar-volume {
  position: absolute;
  height: 1.3rem;
  width: 4.2rem;
  background-color: #63ff69;
  z-index: 0;
  opacity: 1;
  top: 0rem;
  border-radius: 2rem 0rem 0rem 2rem;
}

.music-player-section .controls .volume-items-wrapper .volume-controller-container.active {
  display: block;
  opacity: 1;
  transition: all ease 1s;
}

.music-player-section.active .controls {
  justify-content: space-evenly;
  bottom: 3rem;
}

.music-player-section.active .controls span {
  display: block;
  opacity: 0.4;
}

.music-player-section.active .controls i {
  font-size: 2rem;
}

.music-player-section.active .current-song-cover {
  display: block;
  opacity: 1;
}

.music-player-section .hide {
  display: none;
  opacity: 0;
  transition: all ease 1s;
}

.music-player-section.active .hide {
  display: block;
  opacity: 1;
}

.music-player-section.active {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.music-player-section .current-song-name {
  font-size: 1.6rem;
  margin: 1rem 0rem 0.4rem 0rem;
}

.music-player-section .current-song-artist {
  font-size: 0.9rem;
  margin: .4rem;
}

.music-player-section .current-song-cover {
  height: 50vh;
  width: 50vh;
  object-fit: contain;
  margin: auto;
  border-radius: 0.5rem;
  display: none;
  opacity: 0;
  transition: all ease 0.5s;
}

.music-player-section .back-to-home-btn, .music-player-section .go-to-playlist-btn {
  position: absolute;
  top: 0;
  margin: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.music-player-section .back-to-home-btn {
  left: 0;
}

.music-player-section .go-to-playlist-btn {
  right: 0;
}

.playlist-section {
  height: 100%;
  width: 100%;
  background-color: #141414;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-y: auto;
  left: 100%;
  transition: all ease-in 0.4s;
}

.playlist-section.active {
  left: 0;
  transition: all ease-in 0.4s;
}

.playlist-section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;
}

.playlist-section-header .title {
  font-size: 1.8rem;
}

.playlist-section-header i {
  position: absolute;
  left: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.playlist-section .queue {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  justify-content: space-between;
  padding: 0rem 2rem 0rem 0rem;
  margin: 0.2rem 0;
}

.playlist-section .queue .queue-cover {
  height: 4.4rem;
  position: relative;
  padding: 0.3rem;
}

.playlist-section .queue .queue-cover img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 0.4rem;
  display: block;
}

.playlist-section .queue .queue-cover i {
  position: absolute;
  left: 1.7rem;
  font-size: 2rem;
  color: #63ff69;
  z-index: 3;
  top: 1.2rem;
  display: none;
}

.playlist-section .queue .queue-cover i.active {
  display: block;
}

.playlist-section .queue .queue-details {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 440px) {
  .playlist-section .queue .queue-details {
    flex-direction: column;
  }
}

.playlist-section .queue .queue-details p {
  margin: 0.3rem;
}

.playlist-section .queue .queue-details .music-song-name {
  font-size: 1.1rem;
}

.playlist-section .queue .queue-details .music-song-artist {
  font-size: 0.9rem;
  color: #5a5858;
}
/*# sourceMappingURL=main.css.map */