.music-player-section {
    background-color: $tertianry-color;
    position: fixed;
    bottom: 0;
    left:0;
    width:100%;
    height:7rem;
    backdrop-filter: blur(50px);
    transition: all ease 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .seek-bar-container {
            border-radius: 5px;
            position: relative;
            width:90%;
            margin:5rem;

            .music-seek-bar {
                -webkit-appearance: none;
                width:100%;
                height:0.5rem;
                background-color: $secondary-color;
                overflow: hidden;
        
                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    height:0.5rem;
                    width:2rem;
                    background-color:$primary-color;
                    cursor: pointer;
                    border-radius: .2rem;
                }
            }
    
            .completionBar {
                position:absolute;
                height:0.5rem;
                width:0rem;
                background-color:$primary-color;
                top:0.45rem;
                z-index:0;
                opacity:1;
            }

            .current-time {
                left:0;
                position: absolute;
            }

            .duration {
                right:0;
                position: absolute;
            }
     }

    .controls {
        display: flex;
        flex-direction: row;
        width:100%;
        position: relative;
        justify-content:center;
        align-items: center;
        bottom:3rem;
        margin:0 auto;

        i,span {
            font-size:140%;
        }

        span {
            display: none;
            opacity: 0;
            transition:all ease 1s;
        }

        .main {
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            &>* {
                margin:.1rem 1rem;
                display: none;

                &.active {
                    display: inline;
                }
            }
        }



        .volume-items-wrapper {
            position: relative;
            .volume-controller-container {
                border-radius: 5px;
                position: absolute;
                margin:0 auto;
                bottom:250%;
                left:-1.9rem;
                display: none;
                opacity: 0;
                transition: 1s;
                transform: rotate(270deg);
                overflow: hidden;
    
                .volume-controller {
                    -webkit-appearance: none;
                    width:100%;
                    height:1.3rem;
                    width:5rem;
                    background-color: $secondary-color;
                    overflow: hidden;
                    border-radius: 2rem;
            
                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        height:1.3rem;
                        width:0.5rem;
                        background-color:$primary-color;
                        cursor: pointer;
                        border-radius: 0rem 2rem 2rem 0;
                    }
                }
        
                .completionBar-volume {
                    position:absolute;
                    height:1.3rem;
                    width:4.55rem;
                    background-color:$primary-color;
                    z-index:0;
                    opacity:0.4;
                    top:0rem;
                    border-radius: 2rem 0rem 0rem 2rem;


                }

                &.active {
                    display: block;
                    opacity: 1;
                    transition: 1s;
                }
            }
        }
    }

    &.active {
        .controls {
            justify-content:space-evenly;
        }
    }

    &.active .controls span{
        display: block;
        opacity: 0.4;
    }


    &.active .controls i{
        font-size: 2.3rem;
    }

    //maximize view
    .hide {
        display: none;
        opacity: 0;
        transition: 1s;
    }

    &.active .hide {
        display: block;
        opacity: 1;
    }

    &.active {
        display: flex;
        width:100%;
        height:100%;
        flex-direction:column;
        justify-content:center;
        align-items:center;



    }

    .current-song-name {
        font-size: 1.6rem;
        margin:1rem 0rem 0.4rem 0rem;
    }

    .current-song-artist {
        font-size: 0.9rem;
        margin:.4rem;
    }

    .current-song-cover {
        height:50vh;
        width:50vh;
        object-fit: contain;
        margin:auto;
        border-radius: 0.5rem;
    }

    .back-to-home-btn,.go-to-playlist-btn {
        position:absolute;
        top:0;
        margin:1rem;
        font-size: 1.5rem;
    }

    .back-to-home-btn {
        left:0;
    }

    .go-to-playlist-btn {
        right:0;
    }



}


