$background-color:#141414;
$text-color:#fff;
$primary-color:#63ff69;
$secondary-color : #000;
$tertianry-color:rgba(0, 0, 0, 0.5);
$box-shadow-1:0 15px 40px var($tertianry-color);
$scrollbar-color:rgb(49, 53, 49);